div {
  width: 10em;
  height: 12em;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 48vh;
  left: calc(50vw - 4em);
}

.bt-genius {
  border: 1px black solid;
  width: 4em;
  height: 4em;
  display: flex;
}

.ativo {
  opacity: 0.5;
}

#botao-vermelho {
  background: red;
}
#botao-verde {
  background: green;
}
#botao-azul {
  background: blue;
}
#botao-amarelo {
  background: yellow;
}
