.text-span-error {
  color: red;
}
input {
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 1;
  left: 1;
  width: 30%;
  height: 30%;
}
#text-span {
  z-index: -1;
  top: 1;
  left: 1;
  width: 30%;
  height: 30%;
  position: absolute;
  color: lightgreen;
  background-color: lightslategrey;
}
#texto-principal {
  font-size: x-large;
}
.text-span-errado {
  color: red;
}
#barra-digitacao {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: xx-large;
  animation-name: blink;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  from {
    color: transparent;
  }
  to {
    color: black;
  }
}
